{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <br>
    <h3>{{ page_title }}</h3>
    <br>
    <table class="log" data-search="true" data-toggle="table">
        <colgroup>
            <col class="year">
            <col class="day">
            <col class="thread">
            <col class="description">
            <col class="participants">
        </colgroup>
        <thead>
            <tr>
                <th>Data</th>
                <th>Konto</th>
                <th>Czynność</th>
                <th>Obiekt</th>
                <th>Rodzaj obiektu</th>
            </tr>
        </thead>
        
        <tbody>
            {% for l in logs %}
            <tr>
                <td class="p-1"><small>{{ l.action_time|date:'d-M-Y, H:i' }}</small></td>
                <td class="p-1">{{ l.user }}</td>
                <td class="p-1">
                    {% if l.action_flag == 1 %}
                        <small>DODANO JAKO:</small>
                    {% elif l.action_flag == 2 %}
                        <small>ZMIENIONO NA:</small>
                    {% elif l.action_flag == 3 %}
                        <small>USUNIĘTO:</small>
                    {% else %}}
                        <small>INNA AKCJA</small>
                    {% endif %}
                </td>
                <td class="p-1">{{ l.object_repr|safe }}</td>
                <td class="p-1">{{ content_types_dict|dict_lookup:l.content_type_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock content %}