{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

<h1> fsdssd</h1>

{% block content %}

    {% for cat1 in cat1_with_cat2_with_cat3_dict %}
        {{ cat1 }}<br>
        {% for cat2 in cat1_with_cat2_with_cat3_dict|dict_lookup:cat1 %}
            &emsp;{{ cat2 }}<br>
            {% for cat3 in cat1_with_cat2_with_cat3_dict|dict_lookup:cat1|dict_lookup:cat2 %}
                &emsp;&emsp;{{ cat3 }}<br>
                {% for desc in descriptions %}
                    {% if cat3 in desc.cat_lvl_3.all %}
                        &emsp;&emsp;&emsp;&emsp;&#8226;{{ desc }}<br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
        {% endfor %}
        <br>
    {% endfor %}

{% endblock content %}

