<div class="content-section">
    <form method="GET" action="">
        
        <br>
        <div>
            <input list="keywords" name="search3" placeholder="Wyrażenie kluczowe" size="50" value="{{ request.GET.search3 }}" />
            <datalist id="keywords">
                {% for key, value in keywords_dict.items %}
                    <option value="{{ value }}">
                {% endfor %}
            </datalist>
        </div>
        <br>
        
        <p>Zaznacz wiele wyrażeń, aby wyszukać przez więcej niż jedno wyrażenie kluczowe:</p>
        <select name="keywords" size ="10" multiple>
            {% for key, value in keywords_dict.items %}
                <option value="{{ key }}">&#10023; {{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <small>Aby wybrać wiele opcji przytrzymaj na klawiaturze Ctrl (Windows) / Command (Mac).</small>
        <br><br>
        
        <button name="button2" class="btn btn-dark" type="submit" value="sumbit2">Wyszukaj</button>
        <a href="{% url 'bibliography:search' %}" class="btn btn-dark text-right">Nowe wyszukiwanie</a>
        
    </form>
</div>